

  <div class="parent">

<ul>
  {{#each doggos}}
    <li>
      <a class="doggo-name" href="/doggos/{{id}}">{{name}}:<div class="capitilize">{{this.pets}}</div>, {{age}} , {{location}}, {{important}}.</a> 

    </li>
  {{/each}}
</ul>
</div>
