

  <div class="parent">

<ul>
  {{#each doggos}}
    <li>
      <a class="doggo-name" href="/classifieds/{{id}}">{{name}}:<div class="capitilize">{{pets}}</div>, 4 y/o, {{location}}, {{important}}.</a> 

    </li>
  {{/each}}
</ul>

