<div class="parent">

<ul id="doggoList">
  {{#each doggos}}
    <li>
<<<<<<< HEAD
      {{!-- <a href="/data{{id}}">{{title}}</a> --}}
      <p>{{this.username}}</p>
      <p>{{this.pets}}</p>
      <p>{{this.birthday}}</p>
      <p>{{this.location}}</p>
      <p>{{this.important}}</p>
      
      
      
=======
      <a class="doggo-name" href="/doggos/{{id}}">{{name}}:<div class="capitilize">{{this.pets}}</div>, {{this.age}} , {{location}}, {{important}}.</a> 
>>>>>>> 94d502bd64727e71a0ef086c97ec35a05796c9ae

      ‒
      {{!-- <a href="/movies/{{id}}/edit">Edit</a>
      <form action="/movies/{{id}}/delete" method="POST"> --}}
        {{!-- <button>Delete</button> --}}
      </form>
    </li>
  {{/each}}

</ul>
</div>
