<div class="header-classifieds">
  <form class="search-bar" id="form" role="search">
    <label>Search:
      <input type="search" name="search" />
    </label>
  </form>

  <form class="search-bar" id="form" role="search">
    <label>Organize by:
      <input type="search" name="search" />
    </label>
  </form>



<ul>
  {{#each doggos}}
    <li>
      <a href="/movies/{{id}}">{{title}}</a>
      <p>{{this.username}}</p>
      ‒
      {{!-- <a href="/movies/{{id}}/edit">Edit</a>
      <form action="/movies/{{id}}/delete" method="POST"> --}}
        {{!-- <button>Delete</button> --}}
      </form>
    </li>
  {{/each}}
</ul>