

  <div class="parent">

<ul id="doggoList">
  {{#each doggos}}
    <li>
      <a class="doggo-name" href="/doggos/{{id}}">{{name}}:<div class="capitilize">{{this.pets}}</div>, {{this.age}} , {{location}}, {{important}}.</a> 

    </li>
  {{/each}}

</ul>
</div>
