<p>Classifieds</p>

<div class="parent">

  <ul id="doggoList">
    {{#each doggos}}
      <li>
        <a class="doggo-name" href="/doggos/{{id}}">



         <div class="capitilize">{{name}}</div>: <div class="capitilize">{{this.pets}}</div>,
         <div class="capitilize"> born</div> {{this.age}},
         <div class="capitilize"> {{location}}</div>,
          <div class="capitilize">{{important}}</div>.</a>
      </li>
    {{/each}}

  </ul>
</div>