

  <div class="parent">

<ul>
  {{#each doggos}}
    <li>
<<<<<<< HEAD
      {{!-- <a href="/data{{id}}">{{title}}</a> --}}
      <p>{{this.username}}</p>
      <p>{{this.pets}}</p>
      <p>{{this.birthday}}</p>
      <p>{{this.location}}</p>
      <p>{{this.important}}</p>
      
      
      
=======
      <a class="doggo-name" href="/{{id}}">{{name}}:<div class="capitilize">{{pets}}</div>, 4 y/o, {{location}}, {{important}}.</a> 
>>>>>>> 061820e1779d4a2a9e1298bb50b44b1631e8eff2

      ‒
      {{!-- <a href="/movies/{{id}}/edit">Edit</a>
      <form action="/movies/{{id}}/delete" method="POST"> --}}
        {{!-- <button>Delete</button> --}}
      </form>
    </li>
  {{/each}}
</ul>

