
<div class="header-message">
<p>
To {{user.name}} 
from
{{sender.name}} 
</p>
</div>

{{!-- <br>
<br>
{{#each message}}

<br>
{{message}}
{{/each}} --}}
<br>
<br>


{{#each messageReceived}}
<div class="capitilize">{{../user.name}}:</div>
{{this.message}} 
<br>

{{/each}} 



<br>
{{#each messageSent}}
<div class="capitilize">{{../sender.name}}: </div>
{{this.message}} 
<br>
{{/each}}  
<br>
<br>




<form action="" method="POST" >
<input type="hidden" name="receiver" value="{{user.id}}">


  <div >
    <label><textarea name="message" id="bio-doggo" maxlength="280" required  class="doggo-message"></textarea></label>
  </div>
<br>

    <div class="button-containers">

      <a id="button-link" href='/messages'>Go Back</a>


      <button id="button-link" type="submit">Send</button>

            {{!-- <a id="button-link" href='/profile/save'>Save</a>
                  <a id="button-link" href='/home'>Delete</a> --}}

  </div>
  </form>