{{doggo.name}}
{{doggo.bio}}
{{doggo.pets}}
{{doggo.birthday}}
{{doggo.important}}
{{doggo.location}}

<div class="button-containers">
  <a id="button-link" href="/home">Go Back</a>
</div>

{{#if isAccepted}}
  <a href="/doggos/{{doggo.id}}/dms"> Message </a>
{{/if}}

{{#if isBone}}
  <a href="/doggos/{{doggo.id}}/accepted"> Accept </a>
{{/if}}

{{#if isNotSent}}
  <a href="/doggos/{{doggo.id}}/send-bone"> Send Bone </a>
{{/if}}

{{#if isUser}}

{{/if}}