<<<<<<< HEAD
on<h2>Welcome {{doggo.username}}!</h2>

<div class = "doggo">
  <ul>
    {{#each doggos}}
    <li>
      <img src="{{doggo.imageURL}}" alt="photo-user">
      <p>Haec igitur {{doggo.bio}}</p>
      <p>Type : {{doggo.pets}}</p>
      <p> Age : {{doggo.birthday}}</p>
      <p>Location : {{doggo.location}}</p>
      <p>important {{doggo.important}}</p>
    </li>
    {{/each}}
  </ul>
</div>

<div class="button-containers">
    <a id="button-link" href='/home'>Go Back</a>
    <a id="button-link" href='/Send-Bone'>Send Bone</a>
    </div>

</div>
=======
{{doggo.name}}
{{doggo.bio}}
{{doggo.pets}}
{{doggo.birthday}}
{{doggo.important}}
{{doggo.location}}

<div class="button-containers">
  <a id="button-link" href="/home">Go Back</a>
</div>

{{#if isAccepted}}
  <a href="/doggos/{{doggo.id}}/dms"> Message </a>
{{/if}}

{{#if isBone}}
  <a href="/doggos/{{doggo.id}}/accepted"> Accept </a>
{{/if}}

{{#if isNotSent}}
  <a href="/doggos/{{doggo.id}}/send-bone"> Send Bone </a>
{{/if}}

{{#if isUser}}

{{/if}}
>>>>>>> 6a8f478a1e4fb0432e094707844894c39df9c6b0
