
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
  </head>
  <body>

    <header>

      <div class="paws-container"><img
          class="paws-left"
          src="images/Paw.png"
          alt=""
        />
        <img class="paws-left" src="/images/Paw.png" alt="" />
        <img class="paws-left" src="/images/Paw.png" alt="" />
        <img class="paws-left" src="/images/Paw.png" alt="" />
        <img class="paws-left" src="/images/Paw.png" alt="" />
      </div>

      <div class="bone-container">
        <img class="bone" src="/images/Bone.png" alt="Bone" />
        <a href="/login" style="text-decoration: none;"><h1 class="title">One Paw
            Away</h1></a>
      </div>

      <div class="paws-container"><img
          class="paws-right"
          src="/images/Paw.png"
          alt=""
        />
        <img class="paws-right" src="/images/Paw.png" alt="" />
        <img class="paws-right" src="/images/Paw.png" alt="" />
        <img class="paws-right" src="/images/Paw.png" alt="" />
        <img class="paws-right" src="/images/Paw.png" alt="" />
      </div>
    </header>

    <div id="content">

      <div id="sidenav">
        {{#if isLogin}}
          <img class="norman" src="/images/norman.png" alt="" />
          <div id="norm-bone" class="footer-links">
            <img class="menu-bone" src="/images/Bone.png" alt="" />
            <div class="norm-text"> Welcome</div> 
            
          </div>
        {{else}}
          <img class="menu-bone" src="/images/Bone.png" alt="" />
          <a href="/classifieds">Classifieds</a>
          <img class="menu-bone" src="/images/Bone.png" alt="" />
          <a href="/profile">Profile</a>
          <img class="menu-bone" src="/images/Bone.png" alt="" />
          <a href="/logout">Log Out</a>


            {{!-- <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form> --}}

        {{/if}}
      </div>

      

      <div class="text-box">

            {{#if isClassifieds}}
 <div class="header-classifieds">


<div id="search-bar-top">

    {{!-- <form class="search" action="classifieds/search" method="GET">
        <input class="bar" type="text"  name="resName">
        <button><i class="fas fa-search"></i></button>
    </form> --}}


{{!-- 
    <label class="search-bar">Search:
      <input type="text" name="search" id="search-bar" />
      <button>Search</button>
    </label> --}}
</div>

  {{!-- <form class="search-bar-classifieds" id="form" role="search">
 <label>Type:
      <select name="pets" id="pet-select">
        <option value="">Choose a Doggo</option>
        <option value="beagle">Beagle</option>
        <option value="bull-terrier">Bull Terrier</option>
        <option value="scottish-terrier">Scottish Terrier</option>
        <option value="shiba">Shiba</option>
        <option value="samoyed">Samoyed</option>
        <option value="pug">Pug</option>
        <option value="chihuahua">Chihuahua</option>
        <option value="husky">Husky</option>
        <option value="labrador">Labrador</option>
        <option value="french-bulldog">French Bulldog</option>
      </select>
    </label>
  </form> --}}

  </div>
          {{else}}
    {{/if}}
       

        <h3>

          {{{body}}}

        </h3></div>

    </div>

    {{!-- {{#if isClassifieds}}
      <div class="button-containers">
        <a id="button-link-match" href="/">Click for matches!</a>
      </div>
          {{else}}
    {{/if}} --}}

    <footer>
      <div class="rose-left">
        <img src="/images/rose left.png" alt="" />
      </div>
      <div class="rose-left">
        <img src="/images/rose left.png" alt="" />
      </div>
      <div class="rose-left">
        <img src="/images/rose left.png" alt="" />
      </div>

      <div id="about" class="footer-links">
        <img class="menu-bone" src="/images/Bone.png" alt="" />
        <a href="/about">About Us </a>
      </div>

      <div id="contact" class="footer-links">
        <img class="menu-bone" src="/images/Bone.png" alt="" />
        <a href="mailto:adamghaoul@gmail.com?subject=One Paw Away">Contact</a>
      </div>

      <div class="rose-right">
        <img src="/images/rose right.png" alt="" />
      </div>
      <div class="rose-right">
        <img src="/images/rose right.png" alt="" />
      </div>
      <div class="rose-right">
        <img src="/images/rose right.png" alt="" />
      </div>

    </footer>

    <script src="/javascripts/script.js"></script>
  </body>
</html>