<p>Profile</p>

<form action="/profile" method="POST" class="form-doggo">

  <div class="form-thing">
    <label>Name:
      <input
        type="text"
        name="name"
        required
        value="{{user.name}}"
        maxlength="12"
        readonly
      />
    </label>
  </div>

  <br />

  <div class="form-thing">

    <label>
      Type:
      <input
        type="text"
        name="type"
        value="{{user.pets}}"
        style="text-transform: capitalize;"
        readonly
        required
      />
    </label>

  </div>

  <br />

  <div class="form-thing">
    <label>
      Birthday:
      <input
        type="date"
        name="birthday"
        value="{{user.simpleDate}}"
        readonly
        required
      />
    </label>

  </div>

  <br />

  <div class="form-thing">
    <label>Location:
      <input
        type="text"
        name="location"
        required
        value="{{user.location}}"
        maxlength="10"
      />
    </label>

  </div>
  <br />

  <div class="form-thing">
    <label>Important:
      <input
        type="text"
        name="important"
        value="{{user.important}}"
        maxlength="25"
        required
      /></label>
  </div>
  <br />

  <div class="form-thing">
    <label>Email:
      <input
        type="email"
        name="email"
        required
        value="{{user.username}}"
      /></label>

  </div>
  <br />

  <div class="form-thing">
    <label>Password:
      <input
        type="password"
        name="password"
        value="{{user.passwordHash}}"
        readonly
        required
      /></label>
  </div>
  <br />

  <div class="form-thing" id="form-hing">
    <label>Bio:<textarea
        name="bio"
        id="bio"
        maxlength="280"
        required
      >{{user.bio}}</textarea></label>

  </div>
  <div class="button-containers">

    <a id="button-link" href="/">Go Back</a>

    <button id="button-link" type="submit">Save</button>

    {{! <a id="button-link" href='/profile/save'>Save</a>
                  <a id="button-link" href='/home'>Delete</a> }}

  </div>
</form>